/Practica_1/EjerciciosJava/nbproject/private/
/EjerciciosJava/nbproject/private/
/EjerciciosJava/build/
/Civitas/dist/
/Sesiones/practica4/sesion_1/EjerciciosJavaP4/nbproject/private/
/Sesiones/TutorialP5/build/
/Sesiones/TutorialP5/dist/
